@model SampleModels.Users
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@if(!string.IsNullOrEmpty(ViewBag.ErrorText))
{
    <div class="alert-danger">
        @ViewBag.ErrorText
    </div>
}
@using (Html.BeginForm("Login", "Login"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Login</h4>
        <hr />
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                </td>
                <td>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.EditorFor(model => model.RememberMe, new { htmlAttributes = new { @class = "control-label" } })
                @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label" })
            </td>
        </tr>
    </table>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>
</div>
} 